<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header2'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <div class = mainhome-group-container>
      <div class="welcome">
        <h1 class="wel wel-one"> 안녕하세요. <span class = 'logo'>MEMOMEMO</span>에 오신 걸 환영합니다. </h1>
        <h1 class="wel wel-two"> <span class = 'logo'>MEMOMEMO</span>는 여러분을 위한 메모장입니다.</h1>
      </div>

      <div class="signuplink">
        <h4> 아직 memomemo의 회원이 아니신가요? <a href="/auth/signup">가입하러 가기</a></h4>
        <h4> memomemo의 회원이라면? <a href="/auth/login">로그인하기</a></h4>
      </div>
    </div>
  </body>
</html>