<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
            <div class="create-container">
                <!-- Main Content-->
                <form action="/pulicmemo/store" method="Post" enctype="multipart/form-data">
                    <div class="pagename">
                        <h1>Create New Public Memo</h1>
                    </div>
                    <br><br>

                    <div class="create-form-group ">
                        <label>Page ID</label>
                        <input class="form-control " id="pageId" name="pageId" type="text" placeholder="Page ID">
                    </div>
                    <div class="create-form-group ">
                        <label>Page PW</label>
                        <input class="form-control " id="pagePW" name="pagePW" type="password" placeholder="Page PW">
                    </div>
                    <br><br>
                    <hr />
                    <br />
                    <div class="control-group">
                        <div class="form-group">
                            <label>Title</label><br><br>
                            <input class="form-control" id="title" name="title" type="text" placeholder="Title">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label>Description</label><br><br>
                            <textarea class="form-control" id="body" name="body" cols="200" rows="40"></textarea>
                        </div>
                    </div>
                    <br />

                    <button class="btn" id="createPageButton" type="submit">Send</button>
                </form>
    </body>

</html>